@page "/play/{GameID}"
@inherits PlayBase

<div id="PlacingPlayersVisibility" style="display:none" class="dialogdiv">
    <div class="dialogtitlediv">
        <text><img src="@_gameEngine.CurrentTeam.Logo" /> @_gameEngine.CurrentTeam.Name: Place your players</text>
    </div>
    <div class="dialogcontentdiv">
        <button class="btn btn-light" @onclick="PlacingPlayers">End turn</button>
    </div>
</div>

<div id="EndTurnVisibility" style="display:none" class="dialogdiv">
    <div class="dialogtitlediv">
        <text><img src="@_gameEngine.CurrentTeam.Logo" /> @_gameEngine.CurrentTeam.Name: Ready to end turn?</text>
    </div>
    <div class="dialogcontentdiv">
        <button class="btn btn-light" @onclick="EndTurn">End turn</button>
    </div>
</div>

<div id="DiceRollVisibility" style="display:none" class="dialogdiv">
    <div class="dialogtitlediv">
        <text><img src="@_gameEngine.CurrentTeam.Logo" /> @_gameEngine.CurrentTeam.Name: Roll dice</text>
    </div>
    <text>
        You have <b>22 %</b> change to tackle your opponent.
    </text>
    <div class="dialogcontentdiv">
        <button class="btn btn-dark" @onclick="EndTurn">Go for it</button>
        <button class="btn btn-light" @onclick="EndTurn">Maybe later</button>
    </div>
</div>

<div class="wrapper">
    <canvas id="canvas" class="canvas" @ref="_canvas" width="877" height="1752"></canvas>
</div>
